n8n-workflows/daily-summary.json
{
  "name": "Daily Mollar Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - 7pm Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.email, u.first_name, f.id as family_id \nFROM users u \nJOIN families f ON u.id = f.created_by \nWHERE u.onboarding_completed = true"
      },
      "id": "get-active-users",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Supabase - 6-7 Game"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "loop-users",
      "name": "Loop Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT first_name, mollars_balance, current_streak \nFROM children \nWHERE family_id = '{{$json[\"family_id\"]}}' \nORDER BY first_name"
      },
      "id": "get-children",
      "name": "Get Children",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "postgres": {
          "id": "3",
          "name": "Supabase - 6-7 Game"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const children = $input.all();\nlet summary = '<ul style=\"list-style: none; padding: 0;\">';\nlet totalMollars = 0;\n\nfor (const child of children) {\n  const mollars = child.json.mollars_balance || 0;\n  const streak = child.json.current_streak || 0;\n  summary += `<li style=\"padding: 10px; margin: 5px 0; background: #f9f9f9; border-radius: 5px;\"><strong style=\"color: #E91E8C;\">${child.json.first_name}</strong>: <span style=\"color: #FFD700;\">${mollars} Mollars</span> ${streak > 0 ? '🔥 ' + streak + ' day streak' : ''}</li>`;\n  totalMollars += mollars;\n}\n\nsummary += '</ul>';\n\nreturn [{ json: { childrenSummary: summary, totalMollars } }];"
      },
      "id": "build-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "daily@the67game.com",
        "toEmail": "={{$node[\"Loop Users\"].json[\"email\"]}}",
        "subject": "Daily 6-7 Game Summary 📊",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h2 style=\"color: #E91E8C;\">Today's Progress</h2><p>Hi <strong>{{$node[\"Loop Users\"].json[\"first_name\"]}}</strong>,</p><p>Here's how your family is doing:</p><div style=\"margin: 20px 0;\">{{$json[\"childrenSummary\"]}}</div><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px; margin: 20px 0; text-align: center;\"><h3 style=\"margin: 0 0 10px 0;\">Family Total</h3><p style=\"margin: 0; font-size: 32px; font-weight: bold; color: #FFD700;\">{{$json[\"totalMollars\"]}} Mollars</p></div><p>Keep up the great work! 🎉</p><hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\"><p style=\"font-size: 12px; color: #666;\">The 6-7 Game | Making Learning Fun</p></body></html>"
      },
      "id": "sendgrid-email",
      "name": "SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "sendGridApi": {
          "id": "1",
          "name": "SendGrid - 6-7 Game"
        }
      }
    }
  ],
  "connections": {
    "Schedule - 7pm Daily": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Loop Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Users": {
      "main": [
        [
          {
            "node": "Get Children",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Children": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-31T00:00:00.000Z",
  "versionId": "1"
}
