n8n-workflows/waitlist-welcome.json
{
  "name": "Waitlist Welcome",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waitlist-welcome",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"email\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-email-check",
      "name": "Has Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "welcome@the67game.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Welcome to The 6-7 Game Waitlist! 🎮📚",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\"><h1 style=\"color: #E91E8C;\">You're on the list!</h1><p>Hi <strong>{{$json[\"firstName\"] || 'there'}}</strong>,</p><p>Thanks for joining The 6-7 Game waitlist. We'll notify you when we're ready to launch in your area.</p><div style=\"background: #f0f0f0; padding: 15px; border-radius: 8px; margin: 20px 0;\"><p style=\"margin: 0;\"><strong>Priority Score: {{$json[\"priorityScore\"]}}</strong></p>{{$json[\"state\"] === 'FL' ? '<p style=\"margin: 10px 0 0 0; color: #4CAF50;\">🎉 Florida resident bonus - you're near the front of the line!</p>' : ''}}</div><p>We're building something special - a gamified learning platform that turns education into an adventure. Your kids will love earning Mollars while mastering their grade standards!</p><p>Stay tuned!</p><p style=\"margin-top: 30px;\">The 6-7 Game Team</p><hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\"><p style=\"font-size: 12px; color: #666;\">Questions? Reply to this email or visit <a href=\"https://the67game.com\">the67game.com</a></p></body></html>"
      },
      "id": "sendgrid-email",
      "name": "SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "sendGridApi": {
          "id": "1",
          "name": "SendGrid - 6-7 Game"
        }
      }
    },
    {
      "parameters": {
        "channel": "#waitlist-signups",
        "text": "🎉 New waitlist signup!\n\n📧 Email: {{$json[\"email\"]}}\n📍 State: {{$json[\"state\"] || 'N/A'}}\n⭐ Priority: {{$json[\"priorityScore\"]}}\n{{$json[\"firstName\"] ? '👤 Name: ' + $json[\"firstName\"] : ''}}",
        "otherOptions": {}
      },
      "id": "slack-notification",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 400],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack - 6-7 Game"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Welcome email sent\"}"
      },
      "id": "respond-success",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendGrid": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-31T00:00:00.000Z",
  "versionId": "1"
}
